---
title: LaborTimer
layout: babytimer
---

.jumbotron
  %h1 LaborTimer
  for iPhone, iPod touch, or iPad

:markdown

  This app helps you time the period of labor pains. As you approach your due date, you need to know when is the proper time to go to hospital. Your doctor or mid-wife will ask you how close together your contractions are. 

  This is an extremely simple timer app that only focuses to time the average period of labor pains. There is no other distracting features. 

  ### How to Use 
  * Touch "Labor" button whenever each contraction starts. 
  * Touch "Reset" button if you'd like to start over. 
  * Swipe and delete an entry if you have mistakenly touched "Labor" button. 


  ### Price
  * Free

  ### Screenshot

%img(src="/img/babytimer/iPhone_5s_Vert_screenshot.png" style="width:390px; height: auto;")

%a(href="https://itunes.apple.com/us/app/jintongtaimeo/id828849070?l=en&ls=1&mt=8")
  %img(src="/img/babytimer/appstore_badge_135x40.svg" style="width:135px; height: auto;")


.panel.panel-warning
  .panel-heading
    Caution
  .panel-body
    This app helps you to time the period of labor pains. There is no medical responsibility. You need to contact your doctor or mid-wife for actual guide or instruction.
