//= require_tree ./vendor
//= require_tree ./lib

blockquote
  border-left-width: 4px
  font: 15px Helvetica, arial, freesans, clean, sans-serif
pre, code
  font-family: Consolas, "Liberation Mono", Courier, monospace
pre code
  border: 0
code
  font-size: 12px
  color: #333
  margin: 0
  border: 1px solid #ddd
  background-color: #f8f8f8
  border-radius: 3px
  padding: 1px
  
footer 
  border-top: (1px solid #eee)
  margin-top: 30px
  padding: 10px

.about-me
  padding: 30px 20px 30px 20px 
  margin-bottom: 30px
  background-color: #efefef
  border-width: 1px
  border-color: #ddd
  border-radius: 10px
  box-shadow: none

h2
  font-size: 2em
  font-weight: bold
  padding-bottom: 5px
  border-bottom: 1.5px solid #ccc
h3
  font-weight: bold