---
title: about
created_at: 2012-02-27
updated_at: 2013-08-29
layout: content
---

= partial 'about'
.row
  .col-lg-3
  .col-lg-9
    :markdown
      실용적인 프로그래밍 언어인 Ruby를 즐겨쓰고, 함수형 언어인 Erlang에 관심이 많습니다. 개발자가 즐겁게 배우고 성장하며 일하며, 동시에 업무 성과에도 이어지는 일을 추구합니다.  

      ### 그리고
      이 개인 사이트에 있는 내용은 제가 근무하는 회사의 입장과는 다를 수 있습니다.
