.row
  .col-md-3.col-lg-3.col-xs-4
    %img.img-rounded.img-responsive.pull-right(src="http://www.gravatar.com/avatar/3605adfa6ad53881e7aba94bc20e58ee.png?s=256" style="width:128px; height: auto;")
  .col-md-9.col-lg-9.col-xs-8
    :markdown
      [김대현](https://twitter.com/hatemogi)은 다음커뮤니케이션에서 근무하는 소프트웨어 개발자입니다. 2004년부터 [Daum 카페](http://cafe.daum.net), [Daum 캘린더](http://calendar.daum.net), [마이피플](https://mypeople.daum.net)등의 웹서비스, 프론트엔드 웹애플리케이션, iOS 모바일앱 개발에 두루 참여했으며, 사내 개발자를 위한 Git저장소 서비스를 직접 구축하여 서비스하는 등, Java/C/Ruby/Node 기반의 다양한 백엔드 시스템을 개발하고 운영했습니다. 2014년 현재는 [제주 다음스페이스.2](http://blog.creation.net/585)에 근무하며 클라우드기술팀의 팀장직을 맡고 있습니다. 

      개인적으로 Ruby, Erlang, Scala등의 프로그래밍 언어에 관심이 많고, 기술적 흥미를 바탕으로 실용적인 가치를 만들어 내는 일을 추구합니다. 직업도 개발이고 취미도 개발입니다.

