.row
  .col-lg-6
    %h4 트위터
    %p
      %a(href="http://twitter.com")> @hatemogi
      에 (아주) 가끔 개발적인 얘기를 적습니다.
  .col-lg-6
    %h4 GitHub
    %a(href="https://github.com/hatemogi")> 깃헙
    오픈소스 활동을 하고 싶으나, 별다른 실속은 없습니다. 
.row
  .col-lg-6
    %h4 Medium
    %a(href="https://github.com/hatemogi")> 깃헙
    오픈소스 활동을 하고 싶으나, 별다른 실속은 없습니다. 
  .col-lg-6
    %h4 LinkedIn
    %a(href="http://twitter.com")> @hatemogi
    에 (아주) 가끔 개발적인 얘기나 소식을 적습니다.
