.row
  .col-lg-6
    %h4 트위터
    %p
      %a(href="https://twitter.com/hatemogi")> @hatemogi
      에 종종 개발적인 한마디를 적습니다.
  .col-lg-6
    %h4 GitHub
    %p
      %a(href="https://github.com/hatemogi")> 깃헙
      에서도 아주 가끔 활동 합니다. 
.row
  .col-lg-6
    %h4 Medium
    %p
      %a(href="https://medium.com/@hatemogi")> 미디엄
      에는 나름 진지한 글을 적습니다.
  .col-lg-6
    %h4 Tumblr
    %p
      %a(href="http://hatemogi.tumblr.com")> 텀블러
      에는 개발 블로깅을 합니다, 아주 가끔. 그리고, 
      %a(href="http://umtoong.tumblr.com")> 육아일기
      도 적고 있습니다.
.row
  .col-lg-6
    %h4 LinkedIn
    %p
      %a(href="http://kr.linkedin.com/in/hatemogi/")> 링크드인
      에서는 직업적 프로필을 보실 수 있습니다.
  .col-lg-6
    %h4 SlideShare
    %p
      %a(href="http://www.slideshare.net/hatemogi/presentations")> 슬라이드셰어
      에는 사내외에서 발표한 자료를 올려놓습니다.
