---
title: 진통타이머
layout: babytimer
---

.jumbotron
  %h1 진통타이머 앱 
  iPhone, iPod touch, 또는 iPad용

:markdown

  출산을 앞두고 계신가요? 출산예정일이 다가와서 진통이 시작되면, 가진통인지 아닌지를 판단하는 일부터, 언제 병원에 가야하는지 궁금해집니다. 병원에 연락하면 진통이 주기적으로 오는지를 묻고는 하는데요, 이 주기가 규칙적으로 몇 분이 되면 병원으로 오라는 안내를 받게 됩니다. 즉, 언제 병원에 가야할지를 판단하기 위해서는 그 진통 주기를 쟤야합니다. 이 앱은, 그 주기를 측정하는데 도움을 주는 간단한 타이머 앱입니다.

  ### 문제 정의
  * 출산예정일이 다가와서 진통이 시작된거 같은데, 언제 병원에 가야할까?

  ### 이용대상
  * 출산을 앞둔 임산부, 또는 그 배우자

  ### 이용환경
  * iPhone, iPod touch, iPad
  * iOS 7.0 이상

  ### 이용방법
  * 매번 진통이 시작될 때마다 빨간색 <font color="red">'진통'</font>버튼을 터치합니다.
  * 잘못 판단한 진통의 경우 하단에 표시된 항목을 스와이프하여 삭제하도록 합니다.
  * 측정된 진통의 주기는 파란색으로 <font color="blue">평균 시간</font>이 표기됩니다.
  * 이 평균시간을 참고로 병원에 갈 시기를 판단합니다.
  * 처음부터 다시 시작하려면 '재설정'버튼을 터치합니다.

  ### 참고사항
  * 진통이 불규칙적이면 실제 출산 진통에 앞선 '가진통'일 수 있습니다. 
  * 실제 출산 진통이 시작되면, 이 앱으로 시간을 측정하기도 힘들 수 있으므로, 배우자가 대신 측정하는 것을 권장합니다.

  ### 가격
  * Free

  ### 스크린샷

%img(src="/img/babytimer/iPhone_5s_Vert_screenshot.png" style="width:390px; height: auto;")

%a(href="https://itunes.apple.com/us/app/jintongtaimeo/id828849070?l=ko&ls=1&mt=8")
  %img(src="/img/babytimer/appstore_badge_135x40.svg" style="width:135px; height: auto;")


.panel.panel-warning
  .panel-heading
    주의사항
  .panel-body
    이 앱은 진통의 주기를 측정하는데 도움을 줄 뿐, 어떠한 의학적 판단을 책임질 수 없습니다. 실제 출산에 관련한 내용은 전문의와 상담하십시오.
